[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
    url = git://github.com/gmarik/vundle.git
[submodule ".vim/colors/monokai"]
    path = .vim/colors/monokai
    url = git://github.com/sickill/vim-monokai.git
