#--- User Directories
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Projects
Public
Sites

#--- Dot Directories
.Trash/
.cups/
.dropbox/
.fontconfig/
.gem/
.ipython/
.npm/
.pip/
.ssh/
.subversion/

#--- Dot files
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Xauthority
.bash_history
.cvspass
.lesshst
.s3cfg
.serverauth.*
.viminfo

