[user]
    name = Chris Gilmer
    email = chris.gilmer@gmail.com
    # email = cgilmer@lucasfilm.com
    # Keybase
    signingkey = 9B9B5634A88AB754
    # signingkey = 0379DF76E1A2A567
[github]
    user = chrisgilmerproj
[core]
    editor = vim
    whitespace = space-before-tab,trailing-space
    excludesfile = /Users/cgilmer/.gitignore_global
    pager = delta
[diff]
    tool = vimdiff
    colorMoved = default
[alias]
    st = status --short --branch
    br = branch
    ci = commit
    co = checkout
    df = diff
    sw = switch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    yd = diff "@{yesterday}"
    prune = gc --prune=now
    contrib = blame
    shorty = status --short --branch
    commend = commit --amend --no-edit
    unadd = reset HEAD
    undo = reset --soft HEAD~1
    ocmmit = commit
    commti = commit
    commmit = commit
    rev = rev-parse --verify HEAD
    skip = update-index --skip-worktree
    unskip = update-index --no-skip-worktree
    tags = tag --list
    head = reset --hard HEAD
    c = "c() { git add \"$@\" && git commit \"$@\" ; } ; c"
    pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    last = "rev-parse --short --verify HEAD"
    main = !git init && git checkout -b main
    whereami = \\!git reflog | grep -E 'moving from (.*)' -m 30 -o | awk '{print $5}' | awk '\\!visited[$0]++'
    deletetag = push --delete origin
    yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
    bname = rev-parse --abbrev-ref HEAD
[color]
    branch = auto
    diff   = auto
    interactive = auto
    status = auto
    ui = auto
[branch]
    autosetuprebase = always
# [url "git@github.com:"]
#     insteadOf = https://github.com/
[help]
    autocorrect = 20
[commit]
    gpgsign = true
[gpg]
    program = gpg
[pull]
    ff = only
    rebase = false
[init]
    defaultBranch = main
[credential "https://git-codecommit.*.amazonaws.com"]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[safe]
	directory = /s/atris/scripts/gitlab/../..
	directory = /s/slate/slate-deploy
	directory = /s/is-aws-infrastructure
	directory = /s/atris-admin
	directory = /opt/slate-deploy
	directory = /opt/slate-deploy
	directory = /opt/pyenv
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff "sopsdiffer"]
	textconv = sops -d
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
