[user]
    name = Chris Gilmer
    email = chris.gilmer@gmail.com
[github]
    user = chrisgilmerproj
[core]
    editor = vim
    whitespace = space-before-tab,trailing-space
[diff]
    tool = vimdiff
[alias]
    st = status --short --branch
    br = branch
    ci = commit
    co = checkout
    df = diff
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    yd = diff "@{yesterday}"
    prune = gc --prune=now
    contrib = blame
    shorty = status --short --branch
    commend = commit --amend --no-edit
    unadd = reset HEAD
    ocmmit = commit
    rev = rev-parse --verify HEAD
[color]
    branch = auto
    diff   = auto
    interactive = auto
    status = auto
    ui = auto
[branch]
    autosetuprebase = always
